<ul class="post-list">
  {% for post in paginator.posts %}
    <li class="post-listing">
      <a class="post-listing-link" href="{{ site.baseurl }}/{{ post.url | remove_first: '/' }}">
        <aside class="post-listing-published-date">{{ post.date | date:"%b %d" }}</aside>
        <h3 class="post-listing-title">{{ post.title }}</h3>{% if post.description %}<h4 class="post-listing-description">{{ post.description }}</h4>{% endif %}
      </a>
    </li>
  {% endfor %}
</ul>

{% if paginator.previous_page or paginator.next_page %}
  {% include pagination.html %}
{% endif %}
