$pink: #f58;
$blue: #09f;
$yellow: #dc4;
$orange: #f80;
$green: #00d030;
$khaki: #db8;
$brown: #4d3510;
$foam: #6c9;
$fire: #f50;
$sponge: #ffb;
$innocent: #f9d;
$blood: #d11;
$svelte: #424242;
$wite: #f0f0f0;
$blak: #303030;
$dark-gray: lighten($blak, 25%);
$light-gray: darken($wite, 25%);
